[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts


# remappings
# @openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/
# erc4626-tests/=lib/openzeppelin-contracts/lib/erc4626-tests/
# forge-std/=lib/forge-std/src/
# halmos-cheatcodes/=lib/openzeppelin-contracts/lib/halmos-cheatcodes/src/
# openzeppelin-contracts/=lib/openzeppelin-contracts/